#warehouse {
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

table {
  padding: 30px 0px;
}

th {
  padding: 10px 20px;
}

.nav-item {
  padding: 0px 10px;
}

.product-card {
  background-color: rgb(140, 202, 226);
  padding: 10px;
  box-shadow: 3px 3px grey;
  margin: 10px;
}