<div>
  
  <% if @suppliers.any?%>
    <table>
      <tr>
        <th>Corporate</th>
        <th>Brand</th>
        <th>State</th>    
      </tr>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= link_to supplier.corporate_name, supplier %></td>
          <td><%=supplier.brand_name %></td>
          <td><%=supplier.state %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>There are no registered Suppliers</p>
  <% end %>
  
</div>

